<mat-card>
    <form [formGroup]="form" (ngSubmit)="save(form)">

        <mat-card-content>
            <!-- <p>
                <mat-form-field appearance="fill">
                    <mat-label>Код продукта</mat-label>
                    <input matInput formControlName="productCode">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Наименование</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Описание</mat-label>
                    <input matInput formControlName="description">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Цена</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price">
                    <span matSuffix>.00</span>
                </mat-form-field>
            </p> -->
            <mat-form-field appearance="fill">
                <mat-label>Number</mat-label>
                <input matInput type="text" [formControl]="textFormControl" [errorStateMatcher]="matcher"
                    placeholder="Pick one" aria-label="Number" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <!-- <mat-error *ngIf="textFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error> -->
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button ng>Сохранить</button>
        </mat-card-actions>
    </form>
</mat-card>