<mat-card>
    <form [formGroup]="form" (ngSubmit)="save(form)">

        <mat-card-content>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Product Code</mat-label>
                    <input type="text" matInput [matAutocomplete]="auto" [formControl]="productCode"
                        [errorStateMatcher]="matcher">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let productOption of filteredOptions | async" [value]="productOption">
                            {{productOption.code}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="productCode.hasError('required')">
                        Product <strong>isn't choosen</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Наименование</mat-label>
                    <input type="text" matInput [formControl]="name" [errorStateMatcher]="matcher">
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="name.hasError('minLength') && !name.hasError('required')">
                        Name of Product<strong> is too short</strong>
                    </mat-error>
                    <mat-error *ngIf="name.hasError('required')">
                        Name <strong>isn't written</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Описание</mat-label>
                    <input type="text" matInput [formControl]="description">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Цена</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0" [formControl]="price"
                        [errorStateMatcher]="matcher">
                    <span matSuffix>.00</span>
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="price.hasError('min')">
                        Price <strong>is cheaper than you might choose</strong>
                    </mat-error>
                </mat-form-field>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="basic" ng>Сохранить</button>
        </mat-card-actions>
    </form>
</mat-card>